*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Red Hat Text", sans serif;
}
.container{
    padding: 0 20px;
    background: #fdfbf4;
    }

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product-card img {
    width: 100%;
    border-radius: 8px;
}

.category {
    color: #87635a;
    font-size: 0.8rem;
    font-weight: 500;
 }
 .title{
     color: hsl(7, 20%, 60%);
     font-size: 40px;
     margin: 15px 0;
 }
.price {
     color: #c73b0f;
     font-weight: bold;
}
